*.c.inc         diff=c
*.h.inc         diff=c
*.m             diff=objc
*.py            diff=python
*.rs            diff=rust
*.rs.inc        diff=rust
Cargo.lock      diff=toml merge=binary

*.patch         -text -whitespace

scripts/bench-windows-accelerators/*.sh       text eol=lf
scripts/bench-windows-accelerators/guest/*.sh text eol=lf
scripts/bench-windows-accelerators/guest/*.py text eol=lf
scripts/bench-windows-accelerators/guest/micro-init text eol=lf
